body{
    color: white;
    background-image: url(pngwing1.com.png);
    background-color: gray;
    background-repeat: no-repeat;
}

h1{
    font-family: 'Courier New'  ;
    font-size: 40px;
    text-align: center;
    border: 2px dashed red;
}

p{
    font-family: georgia;
    font-size: 18px;
    padding: 10px;
    margin: 20px;
}

main {
  min-height: 71vh;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  background-color: #0548587e;
  text-align: center;
  z-index: -1;



}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
  }
  
  .column {
    flex: 1;
    padding: 10px;
  }

  .container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
  }

  img {
    width: 300px;
    height: 300px;
    border-radius: 30%;
  }
  .container-img {
   margin-bottom: 10px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 10px;
   
    
  
    
  }
  
  
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  
  .brand {
    display: flex;
    align-items: center;
  }
  
  
  li>a {
    padding: 8px 24px;
  }
  
  
  li {
    list-style-type: none;
  }
  
  
  a {
    color: white;
    text-decoration:none;
  }
  
  a:hover { 
    color: #777;
  }

  .nav-links {
    display: flex;
    align-items: center;
  }
  
  
  .button-menu-toggle {
    display: none;
  }
  
  @media (max-width: 600px) {
    .column {
      flex: 100%;
    }
  }

  @media (max-width: 768px) {
    .column {
      flex: 100%;
    }
  
  
    .nav-links {
      display: none;
    }
  
  
    .button-menu-toggle {
      display: block;
      background-color: white;
      border:none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
   
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20,20,20,0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap:70px;
      font-size: 40px;
  
  
    }
  }